<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testsuite1">
  <test thread-count="5" name="sanity">
  
    <classes>
      <class name="testsuite.Module1">
      <methods>
      <include name="001"></include>
      </methods>
      </class>
      <class name="testsuite.Module2">
      <methods>
      <exclude name="test004"></exclude>
      </methods>
      </class>
    </classes>
  </test> <!-- sanity -->
</suite> <!-- Testsuite1 -->
